<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="Admin Registration Page" />
  <meta name="author" content="" />
  <title>Admin - Registration</title>

  <!-- Custom fonts -->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700,900"
    rel="stylesheet" />

  <!-- Custom styles -->
  <link href="/stylesheet/css/sb-admin-2.min.css" rel="stylesheet" />
  
  <style>
    .bg-register-image {
      background: url("/images/signup.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
    }
  </style>
</head>

<body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Admin Account!</h1>
              </div>
              <form action="/create/admin" method="POST" class="user">
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    name="name"
                    placeholder="Full Name"
                    required />
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    class="form-control form-control-user"
                    name="email"
                    placeholder="Email Address"
                    required />
                </div>
                <div class="form-group">
                  <input
                    type="text"
                    class="form-control form-control-user"
                    name="phone"
                    placeholder="Phone Number"
                    required />
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      name="password"
                      placeholder="Password"
                      required />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="password"
                      class="form-control form-control-user"
                      name="confirm_password"
                      placeholder="Repeat Password"
                      required />
                  </div>
                </div>
                <div class="form-group">
                  <select class="form-control" name="role" required>
                    <option value="">Select Role</option>
                    <option value="admin">Admin</option>
                    <option value="organizer">Organizer</option>
                    <option value="attendee">Attendee</option>
                  </select>
                </div>
                <div class="form-group">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="profilePicture" name="profilePicture">
                    <label class="custom-file-label" for="profilePicture">Choose profile picture</label>
                  </div>
                </div>
                <button type="submit" class="btn btn-primary btn-user btn-block">
                  Register Account
                </button>
                <hr />
                <a href="/auth/google" class="btn btn-google btn-user btn-block">
                  <i class="fab fa-google fa-fw"></i> Register with Google
                </a>
                <a href="/auth/facebook" class="btn btn-facebook btn-user btn-block">
                  <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                </a>
              </form>
              <hr />
              <div class="text-center">
                <a class="small" href="/forgot-password">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="/login">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Scripts -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="/js/sb-admin-2.min.js"></script>
  
  <script>
    // Add the following script to show the file name in the file input
    $(document).ready(function() {
      $('.custom-file-input').on('change', function() {
        let fileName = $(this).val().split('\\').pop();
        $(this).next('.custom-file-label').addClass("selected").html(fileName);
      });
    });
  </script>
</body>

</html>